<h1> {{ title }} </h1>
<p> {{ desc }} </p>

<input type="search" [(ngModel)]="name">
<output>{{ name }}</output>
<p>Callback from child: {{ x }}</p>
<hr>

<app-server [message]="serverMessage"></app-server>
<hr>

<app-child (changeValue)="showVal($event)"></app-child>
<app-child [greet]="message"></app-child>
<hr>

<h3> Directive NgIf </h3>
<p *ngIf="!hybrid">Hybrid</p>
<p *ngIf="!nonhybird">Non Hybrid</p>
@if (valid) {
<p>Valid</p>
}
<hr>

<h3> Directive NgFor </h3>
<ol>
  <li *ngFor="let car of cars">{{ car }}</li>
</ol>
<br>
<ol>
  <li *ngFor="let i of car | keyvalue">
    {{ i.key }} is {{ i.value }}
  </li>
</ol>
<br>
@for (item of cars; track $index) {
<p>{{ $index }} : {{ item }} </p>
}
<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    @for (item of carList; track $index) {
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.type }}</td>
      <td>{{ item.price }}</td>
    </tr>
    }
  </tbody>
</table>
<hr>

<h3> Directive NgSwitch </h3>
<div [ngSwitch]="valid">
  <p *ngSwitchCase="true">Valid</p>
  <p *ngSwitchCase="false">Invalid</p>
  <p *ngSwitchDefault>Unknown</p>
</div>
<br>
@switch (color) {
  @case ("red") {
    <p>Red</p>
  }
  @case ("green") {
    <p>Green</p>
  }
  @case ("blue") {
    <p>Blue</p>
  }
  @default {
    <p>Unknown</p>
  }
}