<h1> {{ title }} </h1>
<p> {{ desc }} </p>

<input type="search" [(ngModel)]="name">
<output>{{ name }}</output>
<p>Callback from child: {{ x }}</p>

<!-- <input type="search" (input)="updateName($event)">
<output>{{ name }}</output> -->
<hr>
<app-server [message]="serverMessage"></app-server>
<hr>

<hr>
<app-child (changeValue)="showVal($event)"></app-child>
<app-child [greet]="message"></app-child>
<hr>

<h3> Directive NgIf </h3>
<p *ngIf="!hybrid">Hybrid</p>
<p *ngIf="!nonhybird">Non Hybrid</p>
@if (valid) {
    <p>Valid</p>
}